#calc{
    width: 500px;
    border-radius: 20px;
    margin: 50px;
    padding: 50px auto;
    background-color: cadetblue;
    box-shadow: 7px 7px 4px rgb(84, 95, 64);
}
#result{
    width: 400px;
    height: 700px;
    font-size: 3rem;
    border: 2px solid black;
    border-radius: 10px;
    margin: 15px;
    padding: 6px;
    font-size: 2rem;
    box-shadow: -4px 4px 4px rgb(90, 90, 86);
}
#btn1{
width: 90px;
height: 76px;
background-color: rgb(78, 153, 17);
color: white;
border-radius: 20px;
margin: 15px;
padding: 6px;
font-size: 2rem;
font-weight: bolder;
box-shadow: 4px 4px 2px rgb(80, 79, 77);
}
#btn, #del-btn, #ac-btn,#equalsto-btn{
    width: 90px;
    height: 76px;
    background-color: rgb(17, 158, 123);
    color: white;
    border-radius: 20px;
    margin: 15px;
    padding: 6px;
    font-size: 2rem;
    font-weight: bolder;
    box-shadow: 4px 4px 2px rgb(80, 79, 77);
}
#del-btn{
    background-color: rgb(87, 87, 163);
    color: white;
}
#del-btn{
    background-color: rgb(87, 87, 163);
    color: white;
}
#ac-btn{
    background-color: rgb(87, 87, 163);
    color: white;
}
#equalsto-btn{
    background-color: rgb(166, 60, 187);
    color: white;
}
.orange{
    background-color: rgb(144, 177, 122);
    width: 90px;
    height: 76px;
    color: white;
    border-radius: 20px;
    margin: 15px;
    padding: 6px;
    font-size: 2rem;
    font-weight: bolder;
    box-shadow: 4px 4px 2px rgb(37, 32, 22);
}